* {
  /*outline: 2px solid red;*/
}
body{
  background-color: rgb(19, 19, 19);
}
h1, h2, p, li {
  font-family: 'Text Me One';
  color: white;
  text-align: center;
}
h1{
  font-size: 60px;
}
p{
  font-size: 30px;
}
